.champ-grid {
    overflow-y: scroll;
    gap: 1rem;
    background-color: #000000b4;
}

/* scroll bar styling */
.champ-grid::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f500;
}

.champ-grid::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f500;
}

.champ-grid::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #eac13b;
}

/* END - scroll bar styling */

.champ-card {
    width: 100px;
    height: 100px;
    padding: 10px 0;
    margin: 5px 13px;
    color: rgb(255, 255, 255);
}

.champ-card:hover .champ-img {
    transform: scale(1.1);
    /* ingrandimento del 10% */
}

.champ-card-removed{
    width: 100px;
    padding: 10px 0;
    margin: 5px 13px;
    color: rgb(255, 255, 255);
    filter: grayscale();
    cursor: no-drop;
}

.champ-card>p {
    margin: 0;
}

.champ-img-container {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid rgb(255, 249, 231);
    padding: 2px;
    overflow: hidden;
}

.champ-img-container:hover {
    -webkit-box-shadow: 0px 0px 25px -3px #A89E31;
    box-shadow: 0px 0px 25px -3px #A89E31;
}

.champ-img-container-removed {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid rgb(255, 249, 231);
    padding: 2px;
    overflow: hidden;
}

.champ-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.img-grayscale {
    filter: grayscale(1);
}

.golden-border {
    border: 2px solid rgb(246, 213, 115);
}
