#summoner-rift-bg {
  background-image: url(../assets/images/summoner_rift_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 1px;
}


/* FILTER BAR */
#info-bar {
  padding: 10px 0;
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}

#timer-container {
  color: white;
}

#timer-container h1 {
  margin: 0 auto;
  transition: width 1s linear;
}

#search-input {
  background-color: rgba(240, 248, 255, 0);
  border: 1px solid rgba(255, 248, 168, 0.484);
  padding: 4px;
  color: rgb(196, 196, 196);
}

#navbar {
  background-color: rgba(0, 0, 0, 0.655);
  padding: 15px;
  color: white;
}

#filter-icons-wrapper {
  width: 200px;
}

.role-filter-icon-dark {
  width: 30px;
  height: 30px;
  filter: brightness(0.4);
  cursor: pointer;
}

.role-filter-icon-dark:hover {
  filter: brightness(1);
}

.role-filter-icon-light {
  width: 30px;
  height: 30px;
  filter: brightness(1);
  cursor: pointer;
}

.role-filter-icon-light:hover {
  filter: brightness(0.4);
}

/* MID SECTION - champ grid, and champ selected */

#grid-container {
  width: 700px;
  height: 100%;

}


#lockin-btn {
  padding: 0.5rem 1rem;
  border: solid 1px #f9f5dd;
  margin: 0.9rem auto;
  background: #092450;
  color: #f9f5dd;
}

#lockin-btn:hover {
  box-shadow: 0px 2px 10px 0px #eeeea5;
}

#lockin-btn:disabled {
  box-shadow: none;
  background: rgb(193, 194, 194);
  color: black;
  cursor: no-drop
}

/*recap popup */

.recap-container {
  position: absolute;
  width: 800px;
  height: 600px;
  background-color: rgb(0, 1, 5);
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}


#row-close-btn {
  padding: 5px;
  display: flex;
  justify-content: end;

}

#close-btn {
  width: 30px;
  height: 30px;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  color: white;
}

#close-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(79, 79, 79);
  cursor: pointer;
}

#cards-row {
  height: 95%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.card_ {
  height: 90%;
  width: 45%;
  border-radius: 15px;
  background-color: #111111;
  box-shadow: #000000 0px 4px 3px 1px, #202020 1px -3px 1px;
}

/* EXTRA */
.border-blue {
  border: solid 2px rgb(0, 98, 255);
}


.border-red {
  border: solid 2px rgb(255, 63, 10);
}

.bg-blue {
  background-color: rgb(0, 98, 255);
}

.bg-red {
  background-color: rgb(255, 63, 10);
}

.font-red {
  color: rgb(255, 63, 10);
}

.font-blue {
  color: rgb(0, 98, 255);
}