main{
    width: 100%
}

.main-content {
  flex: 1; /* occupa tutto lo spazio disponibile */
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}